.env.*
.coverage*
.dir-locals.el
.flake8
.mypy_cache/
.tox/
.idea/
.python-version
*.egg-info
*.pid
*.pyc
*.swp
build/
dist/
htmlcov/
instance/
# default location for underlying services and web instance
services/
# virtual environments of yarik
venvs/
