celery[redis]==5.3.1
click==8.1.3
datalad==0.19.3
datalad-metalad==0.4.12
flask-openapi3==2.3.2
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.17
psycopg2==2.9.6
pydantic==1.10.11
Flask-Migrate==4.0.4
yarl==1.9.2
datalad-catalog==0.2.1
datalad_neuroimaging==0.3.4
flower==2.0.1
