:root {
    --datalad-grey: #333;
    --datalad-yellow: #ffa200;
    --datalad-blue: #7FD5FF;
}

body {
    margin-top: 2vh;
    margin-left: 2%;
    width: 96%;
}

a {
    color: var(--datalad-yellow);
    text-decoration: none;
}

a:hover {
    color: #af7714;
}

#nav-logo {
    margin-bottom: 2vh;
}

div#datalad-registry form {
    display: inline;
}

div#datalad-registry form.searchbar {
    margin-bottom: 2vh;
}

div#datalad-registry #search {
    color: green;
    width: 50%;
}

div#datalad-registry table.list {
    border-collapse: collapse;
    white-space: nowrap;
    width: 100%;
    margin-top: 1em;
}

div#datalad-registry table.list th {
    text-align: left;
    border-bottom: solid 1px #c8c8c8 ;
}


div#datalad-registry table.list tr:nth-child(even) {
    background: #f8f8f8;
}

div#datalad-registry table.list tr:nth-child(odd) {
    background: white;
}

div#datalad-registry table.list td.mono {
    font-family: monospace;
}

div#datalad-registry div.pager {
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div#datalad-registry div.pagination {
    padding-top: 0.5em;
}

.error {
    color: red;
    font-weight: bold;
}

.tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--datalad-grey);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 7px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 50%;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 50%; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 50%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--datalad-yellow);
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal span.content {
    color: grey;
}

.modal span.token {
    color: brown;
}

.modal span.query {
    color: green;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* Added to ensure long text doesn't flow out of the box. */
}
