{%- macro sort_href(default, other) -%}
  {%- if sort_by == default -%}
    {%- set new_sort = other -%}
  {%- else -%}
    {%- set new_sort = default -%}
  {%- endif -%}
  href="{{ url_for('.overview', filter=url_filter, sort='{}'.format(new_sort)) }}"
{%- endmacro -%}

{% macro render_pagination_widget(pagination, endpoint) %}
  <div class="page-items">
    {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
  </div>
  <div class="pagination">
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <a href="{{
              url_for(endpoint, page=page, per_page=pagination.per_page, sort=sort_by, filter=url_filter)
              }}"
          >
            {{ page }}
          </a>
        {% else %}
          <strong>{{ page }}</strong>
        {% endif %}
      {% else %}
        <span class="ellipsis">…</span>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>DataLad Registry: Overview</title>
  <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
<div id="datalad-registry">
  <div class="content">
    <form action="{{ url_for('.overview') }}" formmethod="get">
      <input type='search' name='filter'
          {%- if url_filter %} value="{{ url_filter|escape }}"
          {%- endif -%}
      />
      <input type="hidden" name="sort" value="{{ sort_by }}"/>
      <input type='submit' value='Filter URLs'/>
      {% if url_filter -%}
        <a href="{{ url_for('.overview', sort=sort_by) }}"> remove filter</a>
      {%- endif %}
    </form>

    <table class="list">
      <tr>
        <th><a {{ sort_href('url-desc', 'url-asc') }}>URL</a></th>
        <th>Dataset</th>
        <th>Commit</th>
        <th><a {{ sort_href('keys-desc', 'keys-asc') }}>Annex keys</a></th>
        <th>
          <a {{ sort_href('annexed_files_in_wt_count-desc', 'annexed_files_in_wt_count-asc') }}>
            Annexed files in working tree
          </a>
        </th>
        <th>
          <a {{ sort_href('annexed_files_in_wt_size-desc', 'annexed_files_in_wt_size-asc') }}>
            Size of Annexed files in working tree (bytes)
          </a>
        </th>
        <th>
          <a {{ sort_href('update-desc', 'update-asc') }}>Last update</a>
        </th>
        <th>
          <a {{ sort_href('git_objects_kb-desc', 'git_objects_kb-asc') }}>
            .git/objects Size (KiB)
          </a>
        </th>
        <th>
          Metadata
        </th>
      </tr>
      {%- for i in pagination -%}
        <tr>
          <td><a href="{{ i.url }}">{{ i.url }}</a></td>
          <td class="mono">{{ i.ds_id if i.ds_id is not none }}</td>
          <td class="mono">
            {{ i.head_describe if i.head_describe is not none }}
          </td>
          <td>{{ i.annex_key_count if i.annex_key_count is not none }}</td>
          <td>{{ i.annexed_files_in_wt_count if i.annexed_files_in_wt_count is not none }}</td>
          <td>{{ i.annexed_files_in_wt_size if i.annexed_files_in_wt_size is not none }}</td>
          <td>{{ i.info_ts.strftime("%Y-%m-%dT%H:%M:%S%z") if i.info_ts is not none }}</td>
          <td>{{ i.git_objects_kb if i.git_objects_kb is not none }}</td>
          <td>
            {%- for data in i.metadata_ -%}
              <a href="{{ url_for('api.url_metadata', url_metadata_id=data.id) }}">
                {{ data.extractor_name }}
              </a>
              {{ ", " if not loop.last else "" }}
            {%- endfor -%}
          </td>
        </tr>
      {%- endfor -%}
    </table>
    <div class="pager">
      {{ render_pagination_widget(pagination, '.overview') }}
    </div>
  </div>
</div>
</body>
</html>
