{%- macro sort_href(default, other) -%}
  {%- if sort_by == default -%}
    {%- set new_sort = other -%}
  {%- else -%}
    {%- set new_sort = default -%}
  {%- endif -%}
  href="{{ url_for('.overview', query=search_query, sort='{}'.format(new_sort)) }}"
{%- endmacro -%}

{% macro render_pagination_widget(pagination, endpoint) %}
  <div class="page-items">
    {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
  </div>
  <div class="pagination">
    Page:
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <a href="{{ url_for(endpoint, page=page, per_page=pagination.per_page, sort=sort_by, query=search_query) }}">{{ page }}</a>
        {% else %}
          <strong>{{ page }}</strong>
        {% endif %}
      {% else %}
        <span class="ellipsis">…</span>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_annex_ds_collection_stats(annex_ds_col_stats) %}
  <ul>
    <li>Count: {{ annex_ds_col_stats.ds_count }}</li>
    {% if annex_ds_col_stats.annexed_file_count is not none %}
      <li>Annexed file
        count: {{ annex_ds_col_stats.annexed_file_count }}</li>
    {% endif %}
    {% if annex_ds_col_stats.annexed_files_size is not none %}
      <li>Annexed files
        size: {{ annex_ds_col_stats.annexed_files_size }}</li>
    {% endif %}
  </ul>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>DataLad Registry: Overview</title>
  <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
<div id="nav-logo">
  <a href="{{ url_for('.overview') }}"><img src="/static/pics/registry_logo.svg" alt="Registry Logo"/></a>
</div>
<div id="datalad-registry">
  <div class="content">
    <form action="{{ url_for('.overview') }}" method="get">
      <label for='search' class="sr-only">Search</label>
      <input id='search' type='search' name='query' required pattern=".*\S.*"
          {%- if search_query %} value="{{ search_query|escape }}"
          {%- endif -%}
             placeholder='Search query'
      />
      <input type="hidden" name="sort" value="{{ sort_by }}"/>
      <input type='submit' value='Search'/>
      {% if search_error -%}
        <p><span class="error">ERROR: {{ search_error }}</span></p>
      {%- endif %}
    </form>
    {% if search_query -%}
        <!-- Clear search query via Button for a unified UI -->
        <form action="{{ url_for('.overview') }}" method="get">
        <input type="hidden" name="sort" value="{{ sort_by }}"/>
        <input type='submit' value='Clear'/>
        </form>
    {%- endif %}
    <button id="showQuerySyntax">Show search query syntax</button>

    <div id="QuerySyntaxModal" class="modal">

    <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Search query syntax</h2>
        </div>
        <div class="modal-body">
          <p>This syntax is a WiP and could change at any time.  Currently, it allows for:</p>
          <ul>
            <li>Simple singular <span class="content">WORD</span> (e.g., <span class="query">haxby</span>)
              or a <span class="content">"QUOTED STRING"</span> (e.g., <span class="query">"James Haxby"</span>)
              <ul>
                <li>Searching is case-insensitive at the moment, so <span class="query">haxby</span> is identical to <span
                        class="query">Haxby</span>.
                </li>
                <li>Searching is performed within content rather than for entire words,
                  and so searching for <span class="query">ax</span> would find <span class="content">Haxby</span>,
                  <span class="content">tax</span>, etc.
                </li>
              </ul>
            </li>
            <li>By default, the following fields are searched: "url", "ds_id", "head", "head_describe", "branches",
              "tags", "metadata".
              To restrict the search to a specific field, specify the field name followed by <span class="token">:</span> and
              the search term, e.g.,
              <span class="query">url:github</span> or <span class="query">head:1.0</span> or <span class="query">metadata:"James Haxby"</span>.
            </li>
            <li><span class="token">AND</span>, <span class="token">OR</span>, and <span class="token">NOT</span> can be used for
              logical operations.
              <ul>
                <li>The default logical operator is <span class="token">AND</span>, and so
                 searching for <span class="query">James Haxby</span> is identical to searching for
                  <span class="query">James AND Haxby</span>
                  or
                  <span class="query">Haxby AND James</span>.
                </li>
                <li><span class="token">AND</span> and <span class="token">OR</span> may not be mixed in the same
                  statement.
                </li>
              </ul>
            <li>Use <span class="token">(</span> and <span class="token">)</span> to group statements, e.g.,
              <span class="query">(url:github.com OR url:gin.g-node) AND (Haxby (James OR Jim))</span>.
            </li>
            <li>You can restrict a search to specific metadata extractors by specifying one or more of them,
              e.g., <span class="query">metadata[bids_dataset,metalad_core]:"BIDSVersion\": \"v"</span>
              where the backslash is an escape character,
              and the letter <span class="query">v</span> is a stand-in for an actual version string.
            </li>
          </ul>
        </div>
      </div>
    </div>


    <table class="list">
      <tr>
        <th><a {{ sort_href('url-desc', 'url-asc') }}>URL</a></th>
        <th>Dataset</th>
        <th>Commit</th>
        <th><a {{ sort_href('keys-desc', 'keys-asc') }}>Annex keys</a></th>
        <th class="tooltip">
          <a {{ sort_href('annexed_files_in_wt_count-desc', 'annexed_files_in_wt_count-asc') }}>
            Nr of Annexed files
          </a>
          <span class="tooltiptext">Number of annexed files in working tree</span>
        </th>
        <th class="tooltip">
          <a {{ sort_href('annexed_files_in_wt_size-desc', 'annexed_files_in_wt_size-asc') }}>
            Size of Annexed files
          </a>
          <span class="tooltiptext">Size of annexed files in working tree (bytes)</span>
        </th>
        <th>
          <a {{ sort_href('update-desc', 'update-asc') }}>Last update</a>
        </th>
        <th class="tooltip">
          <a {{ sort_href('git_objects_kb-desc', 'git_objects_kb-asc') }}>
            Size of .git/objects
          </a>
          <span class="tooltiptext">Size of .git/objects in kilobytes</span>
        </th>
        <th>
          Metadata
        </th>
      </tr>
      {%- for i in pagination -%}
        <tr>
          <td><a href="{{ i.url }}">{{ i.url }}</a></td>
          <td class="mono">
			{% if i.ds_id is not none %}
			<a href="{{ url_for('.overview', query='ds_id:' + i.ds_id) }}">{{ i.ds_id }}</a>
			{% endif %}
		  </td>
          <td class="mono">
            {{ i.head_describe if i.head_describe is not none }}
          </td>
          <td>{{ i.annex_key_count if i.annex_key_count is not none }}</td>
          <td>{{ i.annexed_files_in_wt_count if i.annexed_files_in_wt_count is not none }}</td>
          <td>{{ i.annexed_files_in_wt_size if i.annexed_files_in_wt_size is not none }}</td>
          <td>{{ i.last_update_dt.strftime("%Y-%m-%dT%H:%M:%S%z") if i.last_update_dt is not none }}</td>
          <td>{{ i.git_objects_kb if i.git_objects_kb is not none }}</td>
          <td>
            {%- for data in i.metadata_ -%}
              <a href="{{ url_for('url_metadata_api.url_metadata', url_metadata_id=data.id) }}">
                {{ data.extractor_name }}
              </a>
              {{ ", " if not loop.last else "" }}
            {%- endfor -%}
          </td>
        </tr>
      {%- endfor -%}
    </table>
    <div class="pager">
      {{ render_pagination_widget(pagination, '.overview') }}
    </div>

    <!-- Stats Trigger Button -->
    <button id="statsModalBtn">Show Stats</button>

    <!-- Statistics of the returned collection of datasets -->
    <div id="statsModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Stats</h2>
        </div>
        <div id="stats" class="modal-body">
          <h2>Stats</h2>
          <ul>
            <li>
              <h3>Datalad Datasets Stats</h3>
              <ul>
                <li>
                  <h4>Unique Datalad Dataset Stats</h4>
                  {{ render_annex_ds_collection_stats(stats.datalad_ds_stats.unique_ds_stats) }}
                </li>
                <li>
                  <h4>Stats without deduplication</h4>
                  {{ render_annex_ds_collection_stats(stats.datalad_ds_stats.stats) }}
                </li>
              </ul>
            </li>
            <li>
              <h3>Pure Annex Dataset Stats</h3>
              {{ render_annex_ds_collection_stats(stats.pure_annex_ds_stats) }}
            </li>
            <li>
              <h3>Non-Annex Dataset Stats</h3>
              <ul>
                <li>Count: {{ stats.non_annex_ds_stats.ds_count }}</li>
              </ul>
            </li>
            <li>
              <h3>Summary</h3>
              <ul>
                <li>Unique dataset count: {{ stats.summary.unique_ds_count }}</li>
                <li>Total dataset count (without
                  deduplication): {{ stats.summary.ds_count }}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// Get the syntax modal
const syntax_modal = document.getElementById("QuerySyntaxModal");

// Get the button that opens the syntax modal
const show_syntax_btn = document.getElementById("showQuerySyntax");

// Get the <span> element that closes the syntax modal
const close_syntax_span = document.getElementsByClassName("close")[0];

// When the user clicks the show syntax button, open the syntax modal
show_syntax_btn.onclick = function() {
  syntax_modal.style.display = "block";
}

// When the user clicks on <span> (x), close the syntax modal
close_syntax_span.onclick = function() {
  syntax_modal.style.display = "none";
}

// When the user clicks anywhere outside the modal, close it
window.onclick = function(event) {
  if (event.target === syntax_modal) {
    syntax_modal.style.display = "none";
  }
}

function span_copy() {
  // Find all span elements with the class 'query'
  const spans = document.querySelectorAll('.query');

  spans.forEach(span => {
    // Create a copy button
    const button = document.createElement('button');
    button.innerHTML = '<sup>📋</sup>'; // Set your icon HTML here
    button.onclick = function() {
      // Copy span text to clipboard
      const text = span.innerText;
      navigator.clipboard.writeText(text)
        .then(() => {
          // Notify the user that the text was copied successfully
          console.log('Text "%s" copied to clipboard', text);
        })
        .catch(err => {
          // Handle any errors
          console.error('Failed to copy text:', text, 'Error:', err);
        });
    };
    // Style the button as needed
    button.style.margin = '0px';
    button.style.border = '0px';
    button.style.padding = '0px';
    button.style.background = 'transparent';

    // Append the button next to the span
    span.parentNode.insertBefore(button, span.nextSibling);
  });
}

// Call this function when the document is fully loaded
document.addEventListener('DOMContentLoaded', span_copy);

</script>

</body>
</html>
